header {
    position: sticky;
    top: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /*filter*/
    flex-wrap: wrap;
    background-color: #DADBE9;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 30px 0 0;  
}


#nav_bar {
    display: flex;
    list-style: none;
    column-gap: 32px;
}

#nav_bar a {
    text-decoration: none;
    color: #1C203C;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
}

/*opcional*/
#nav_bar a:hover {
    color: purple;
}


/*-------------RESPONSIVE- NAVBAR-------------*/
@media only screen and (max-width:870px) {

    ul li{
        font-size:15px;
        padding-top: 20px;
    }
}

@media only screen and (max-width:570px) {
    nav{
        width: 100%;
    }

    ul li{
        
        width: 100%;
        text-align: left;
        font-size:15px;
        padding: 2px;
    }

    li a{
        display: block;
    }
}