#health {
    background-color: rgba(234, 235, 245, 1);
    margin-top: 1rem;
    text-align: center;
    margin: 0 auto;
}

.health_container {
    margin: 1rem;
    padding: 0.5rem;
}

#health h4 {
    padding-left: 5px;
    padding-bottom: 10px;
    color: #1C203C;
}

.health_content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.health_content h4 {
    text-align: start;
}

.bar {
    display: flex;
    gap: 1rem;
}

.health_content img {
    margin-right: 5px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.progress_bar {
    width: 100%;
    background-color: rgb(216, 214, 214);
    border-radius: 1rem;
    padding: 0.5em;
}

.pct {
    text-align: right;
    padding: 10px;
    color: white;
    font-weight: 900;
    border-radius: 4rem;
    box-sizing: border-box;
}

#stress {
    background-color: #af4999;
    width: 20%;
}

.health_content:hover #stress {
    animation: stress 2s forwards;
}

#tired {
    background-color: rgb(252, 175, 60);
    width: 70%;
}

.health_content:hover #tired {
    animation: tired 2s forwards;
}

#optimism {
    background-color: #00658d;
    width: 95%;
}

.health_content:hover #optimism {
    animation: optimism 2s forwards;
}

#trust {
    background-color: #489946;
    width: 90%;
}

.health_content:hover #trust {
    animation: trust 2s forwards;
}


@keyframes stress {
    0% {
        width: 0;
    }

    100% {
        width: 20%;
    }
}

@keyframes tired {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

@keyframes optimism {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}

@keyframes trust {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@media only screen and (max-width: 720px) {
    .health_content img {
        width: 20px;
        height: 20px;
    }  
}