#numbers {
    max-width: 90%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 5px;
    row-gap: 20px;
    padding: 5px;
}

#progreso_banner {
    max-height: 90%;
    display: flex;
    align-content: center;
    align-items: center; /*CENTRADO*/
    padding-top: 5px;
    box-sizing: content-box;
}

#progreso_container {
    display: flex; 
    align-content: center;
    justify-content: center;
    row-gap: 20px;
    
}

#progreso_container h4 {
    font-size: medium;
}

#numbers > h2 {
    padding-top: 5px;
}

#numbers > h3 {
    padding-top: 5px;
    margin-bottom: 5px;
}

#estadisticas_progreso {
    border: 2px solid rgba(98, 190, 144, 0.4);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
    text-align: center;
    
}

#estadisticas_progreso > h3 {
    width: 90%;
    text-align: center;
}

.estadisticas_container {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    column-gap: 5px;
    row-gap: 5px;
    height: 200px;
}

.estadisticas_container > img {
    max-width: 60%;
    border-radius: 2%;
    margin: auto;
}

.estadisticas_container > button {
    width: 200px;
    color:rgb(0, 0, 0);
    padding: 5px;
    margin: 2px;
    border-radius: 20px;
}

.estadisticas_container > button:hover {
    cursor: pointer;
    color: purple;
}
