#progress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 1rem;
}

#progress h2{
    text-align: center;
}

.statics_progress_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#left {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 2rem;
    margin-right: 0.5rem;
}

.progress_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.5rem;
}

.progress_container h3 {
    margin: 1rem 0 1rem 0;
    text-align: center;
    width: 100%;
}

.cards_container {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card img {
    width: 180px;
    height: 120px;
    border-radius: 2%;
    margin: auto;
}

.card h4 {
    font-size: 0.9rem;
    padding: 0.2rem;
    color: #1C203C;
}

.card button {
    width: 180px;
    color: #1C203C;
    background-color: rgba(234, 235, 245, 1);
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

.cards_container button:hover {
    cursor: pointer;
}

#banner img {
    width: 300px;
    height: 500px;
}


@media only screen and (max-width: 950px) {

    #progress {
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 120px;
        height: 100px;
        border-radius: 2%;
        margin: auto;
    }

    .card button {
         width: 120px;
    }

    
}

@media only screen and (max-width: 750px) {

    .statics_progress_container {
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }

    .left {
        width: 100%;
    }

    .progress_container {
        text-align: center;
    }

    .cards_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .card img {
        width: 180px;
        height: 160px;
        border-radius: 2%;
        margin: auto;
    }

    .card button {
        width: 180px;
    }

    #banner img {
        width: 200px;
        height: 400px;
    }

     footer{
        display: flex;
        flex-direction: column;
    }

}